.my-input {
    position: relative; 
  }
  .input {
    color: black;
    height: 28px;
    border: rgb(186, 189, 189) 1px solid;
    padding-left: 10px;
    /* opacity: 0.3; */
  }
  .input:hover {
    color: black;
    border: rgb(118, 119, 119) 1px solid;
    /* border:1px solid rgb(106, 106, 240); */
    /* opacity: 0.5;  */
  }
  .input-disable {
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgb(227, 233, 233);
    border: rgb(186, 189, 189) 1px solid;
  }
  .input-text {
    /* color: black; */
    height: 28px;
  }
  .input-textarea {
    height: 40px;
    width: 400px;
  }
  .input-medium {
    width: 167px;
    height: 25px;
  }
  .input-small {
    width: 140px;
    height: 22px;
  }
  .input-mini {
    width: 130px;
    height: 19px;
  }
  .cancel {
    position: absolute;
    font-size: 12px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    width: 12px;
    height: 12px;
    /* text-align: center; */
    line-height: 12px;
    border-radius: 50%;
    left: 154px;
    top: 5px;
    margin: 2px;
    border: 1px solid #aaa;
    color: #aaa;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
 
  .remnant {
    position: relative;
    vertical-align: bottom;
    margin-left: -8px;
    font-size: 1px;
    transform: translateX(-100%);
    display: inline-block;
  }